/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/aboutme.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.aboutme_pageWrapper__LGbXW {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #212936; /* Fond */
    color: white;
    position: relative;
}


  
.aboutme_pageTitle__DMNvx {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    font-size: 3rem;
    font-weight: bold;
    color: white; /* Couleur titre */
}

.aboutme_actualite__6id9u {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 20% 2% 20%;
    font-size: 1.4rem;
}

.aboutme_linkStyle__I_gK1 {
    color: #1e90ff;
    font-size: 29px;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.aboutme_carouselContainer__yhM1A {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    position: relative;
  }
  
  .aboutme_cardWrapper__KuUsd {
    width: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .aboutme_card__vNwJ_ {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .aboutme_card__vNwJ_ h3 {
    font-size: 4rem;
    color: #212936;
    margin-bottom: 30px;
  }
  
  .aboutme_card__vNwJ_ ul {
    list-style: none;
    padding: 0;
  }
  
  .aboutme_card__vNwJ_ li {
    font-size: 2rem;
    color: #212936;
    margin: 10px 0;
  }
  
  .aboutme_navButton__mO3yn {
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: #212936;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .aboutme_navButton__mO3yn:hover {
    background-color: #e6b800;
  }
  
  
