/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/competences.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/

.competences_pageWrapper__vr5I_ {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 120vh;
    background-color: #212936; /* Fond sombre */
    color: white;
    position: relative;
}

.competences_menuWrapper__SjBM3 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    right: 2rem;
    top: 10%;
    background-color: #436072; /* Fond sombre pour le menu deroulant */
    padding: 1.3rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.competences_menuButton__gVNgS {
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 900;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #374151; /* Fond sombre pour les boutons */
    color: #f3f4f6; /* Texte clair */
    border: none;
    cursor: pointer;
}

.competences_menuButton__gVNgS:hover {
    background-color: #475569; /* Couleur plus foncée au survol */
}

.competences_active__iV8OF {
    background-color: #c2a457; /* Couleur jaune */
    color: black;
    border: 2px solid #c2a457;
    transition: all 0.3s ease;
}
