.pageWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #212936; /* Fond sombre */
    color: white;
    position: relative;
}

.pageHeader {
    position: relative;
    top: 8%;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 2rem;
}

.pageTitle {
    font-size: 4rem;
    font-weight: bold;
    color: white; /* Couleur titre */
    transition: all 0.5s ease;
}

.pageContent {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 2rem;
}

.cardContainer {
    width: 75%;
    margin: 0 auto;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    right: 1rem;
    top: 25%;
    background-color: #436072; /* Fond sombre pour le menu deroulant */
    padding: 2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.menuButton {
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease;
    background-color: #374151; /* Fond sombre pour les boutons */
    color: #f3f4f6; /* Texte clair */
    border: none;
    cursor: pointer;
}

.menuButton:hover {
    background-color: #475569; /* Couleur plus foncée au survol */
}

.active {
    background-color: #c2a457; /* Couleur jaune */
    color: black;
    border: 2px solid #c2a457;
    transition: all 0.3s ease;
}

.card {
    display: flex;
    align-items: center;
    background-color: #212936; /* Fond gris foncé des cartes */
    border-radius: 1.4rem;
    border: 2px solid #212936; /* Bordure gris foncé */
    padding: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    transition: all 0.5s ease;
}

.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardImageWrapper {
    width: 500px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cardImageWrapperRight {
    width: 500px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-left: 3rem;
}

.cardImageWrapper:hover, .cardImageWrapperRight:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

.competences {
    font-size: 20px;
    color: #cfdee7;
}

/* link */
.link {
    color: #1e90ff;
    font-size: 15px;
}

.linkRight {
    color: #1e90ff;
    font-size: 15px;
    display : flex;
    justify-content: flex-end;
}

.link:hover, .linkRight:hover {
    color: #1e90ff;
    text-decoration: underline;
    font-size: 16px;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardTextWrapper {
    flex: 1;
    padding-left: 3rem;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: white; /* Texte des titres en blanc */
    transition: all 0.3s ease;
}

.cardDuration {
    font-size: 1.5rem;
    color: #9ca3af; /* Gris clair pour la durée */
}

.cardDescription {
    font-size: 1.2rem;
    color: #d1d5db; /* Gris clair pour la description */
    line-height: 1.7;
    margin-top: 1rem;
}